.nextflow*
*~
flymd*
.markdown*
data
*.data
result
report
elm-stuff/
out/
tmp/
node_modules/
timeline.html*
trace.txt*
workflow.pdf*
.nfs*
.RData
.Rhistory
*.aux
*.log
*.toc
*.out
analyse/
NOTE.md
launchProgenome.sh
launchProgenomeAA.sh
launchTestNA.sh

launchTest.sh
launchTestAA.sh
launchTestNA.sh
launchTestProgenome.sh
list-taxids.txt
launchOnMopad.sh
launchProgenomeMpi.sh
calculateRandIndex.sh
benchmark