
process.executor = 'slurm'


params {
       cpus = 1
       pvalue = 1
       distance = 1
       sketchSize = 400
       kmerSize = 16
       scripts = "./scripts"
       scratch = 'data'
       

}

process {
	maxForks = 1
	
}

env {
     //NXF_OPTS="-Xmx2g -Xms2g"
}

profiles {

	 standard {
	 	  process.executor = 'local'
		  process.maxForks = ${params.cpus}
}

	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = ${params.cpus}
			

			
		}
		executor.jobName   = ${task.name}
		executor.queueSize = 50
	}
}


trace {
    enabled = true
    file = "out/${params.kmerSize}-${params.sketchSize}/mash-${params.kmerSize}-${params.sketchSize}-${params.pvalue}-${params.distance}-trace.txt-bench"
    raw = true
}

timeline {
    enabled = true
    file = "out/${params.kmerSize}-${params.sketchSize}/mash-${params.kmerSize}-${params.sketchSize}-${params.pvalue}-${params.distance}-timeline.txt"

}
