
process.executor = 'slurm'


params {
       cpus = 1
       pvalue = 1
       distance = 1
       sketchSize = 400
       kmerSize = 16

       

}

process {
	maxForks = 1
	
}

env {
     //NXF_OPTS="-Xmx2g -Xms2g"
}

profiles {

	 standard {
	 	  process.executor = 'local'
		  process.maxForks = ${params.cpus}
}

	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = ${params.cpus}

			
		}
		executor.jobName = ${task.name}
	}
}



