params {
       cpus       = 1
       pvalue     = 1
       distance   = 1
       sketchSize = 400
       kmerSize   = 16
       scripts    = "./scripts/external"
       scratch    = 'data'
       distances  = [0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.10, 0.11, 0.12, 0.13, 0.14, 0.145, 0.15, 0.155, 0.16, 0.165, 0.17, 0.175, 0.18, 0.19, 0.2, 0.21, 0.22] //, 0.23, 0.24, 0.25, 0.26
       louvain    = true
       silix      = false
       infomap    = false
}

process {
	maxForks = ${params.cpus}
}


profiles {
	 standard {
	 	  process {
		  	  executor = 'local'
		  	  maxForks = ${params.cpus}
			  $all_vs_all_distance.cpus = 2
		  }
		  executor {
		  	   queueSize = 2
		  }
	}
	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = 50
			cpus     = 1
			$all_vs_all_distance.cpus = 24
			$louvainCommunities.memory = '40GB'
			$louvainCommunities.time = '12h'
			$weightedLouvainCommunities.memory = '40GB'
			$weightedLouvainCommunities.time = '12h'
			$infoMap.memory = '30GB'
			$infoMap.time = '6h'
			$randIndexRank.time = '6h'
			$sensitivity_specificity.time='12h'
			$sensitivity_specificity.memory='40GB'
			$extractGraph.time='6h'
			//$splitProgenomes.clusterOptions = '--exclude etna7'
			//$all_vs_all_distance.clusterOptions = '--exclude etna[52-55,7]'
			//$filterEdges.clusterOptions = '--exclude etna7'
			//$calculateRandIndexMicroscope.clusterOptions = '--exclude etna7'
			//$calculateRandIndexProgenome.clusterOptions = '--exclude etna7'
			

			
		}
		executor {
			 queueSize = 100
			 jobName   = ${task.name}
			 exitReadTimeout = '620 sec'
		}
	}
	microscope {
		   process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = 50
			cpus     = 1
			$all_vs_all_distance.cpus = 24
			$louvainCommunities.memory = '40GB'
			$louvainCommunities.time = '12h'
			$weightedLouvainCommunities.memory = '40GB'
			$weightedLouvainCommunities.time = '12h'
			$infoMap.memory = '5GB'
			$infoMap.time = '3h'
			$randIndexRank.time = '1h'
			$sensitivity_specificity.time='4h'
			$sensitivity_specificity.memory='20GB'
			$extractGraph.time='2h'

		   }
   		executor {
			 queueSize = 100
			 jobName   = ${task.name}
			 exitReadTimeout = '620 sec'
		}
	}
}


trace {
      enabled = true
      raw = true
      //file = "${params.dataDir}/runs/${params.seqSrc}/${params.seqType}/${params.kmerSize}-${params.sketchSize}/trace.txt"
}

timeline {
	 enabled = true	
	// file="${params.dataDir}/runs/${params.seqSrc}/${params.seqType}/${params.kmerSize}-${params.sketchSize}/timeline.html"
}	 
