params {
       cpus = 1
       pvalue = 1
       distance = 1
       sketchSize = 400
       kmerSize = 16
       scripts = "./scripts"
       scratch = 'data'
       distances = [0.01, 0.02, 0.03, 0.04, 0.045, 0.05, 0.055, 0.06, 0.07, 0.08, 0.09, 0.10, 0.11, 0.12, 0.13, 0.14, 0.15, 0.155, 0.16, 0,165, 0.17, 0.18, 0.19, 0.2, 0.21]
       //distances = [0.05, 0.1, 0.12]

}

process {
	maxForks = ${params.cpus}
	
}


profiles {

	 standard {

	 	  process {
		  	  executor = 'local'
		  	  maxForks = ${params.cpus}
		  }
		  executor {
		  	   queueSize = 2
		  }
	 	  
}

	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = 100
			cpus     = 1
			$all_vs_all_distance.cpus = 15
			$splitProgenomes.clusterOptions = '--exclude etna7'
			$all_vs_all_distance.clusterOptions = '--exclude etna7'
			$filterEdges.clusterOptions = '--exclude etna7'
			$calculateRandIndexMicroscope.clusterOptions = '--exclude etna7'
			$calculateRandIndexProgenome.clusterOptions = '--exclude etna7'
			

			
		}
		executor {
			 queueSize = 200
			 jobName   = ${task.name}
			 exitReadTimeout = '360 sec'
		}
	}
}


trace {
      enabled = true
      raw = true
      file = "${params.dataDir}/runs/${params.seqSrc}/${params.seqType}/${params.kmerSize}-${params.sketchSize}/trace.txt"
}

timeline {
	 enabled = true	
	 file="${params.dataDir}/runs/${params.seqSrc}/${params.seqType}/${params.kmerSize}-${params.sketchSize}/timeline.html"
}	 
