params {
       
}

process {
	maxForks = ${params.cpus}
	cpus = ${params.cpus}
	
}

profiles {

	 standard {

	 	  process {
		  	  executor = 'local'
		 	  maxForks = ${params.cpus}
			  cpus = ${params.cpus}
		  }
}

	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = ${params.cpus}
			

			
		}
		executor.jobName   = ${task.name}
	}
}


