params {
       cpus = 1
       pvalue = 1
       distance = 1
       sketchSize = 400
       kmerSize = 16
       scripts = "./scripts"
       scratch = 'data'
       

}

process {
	maxForks = ${params.cpus}
	
}


profiles {

	 standard {

	 	  process {
		  	  executor = 'local'
		  	  maxForks = ${params.cpus}
		  }
		  executor {
		  	   queueSize = 2
		  }
	 	  
}

	cluster {
		process {
			executor = 'slurm'
			queue = 'normal'
			maxForks = 100
			cpus     = 1
			
		}
		executor {
			 queueSize = 50
			 jobName   = ${task.name}
		}
	}
}


trace {
    enabled = true
    raw = true
}

timeline {
	 enabled = true

}
